body {
  background-color: hsl(0, 0%, 98%);
  height: 100vh;
  outline: none;
}
.navbarbg{
  background-color: #ffffff;
  height: 10vh;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.navbarbg-dark{
  background-color: hsl(209, 23%, 22%);
  height: 10vh;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.header-text-dark{
  color: #ffffff  !important;
}
.container{
  background-color: hsl(0, 0%, 98%);
  height: 100%;
  width: 100vw;
}
.container-dark{
  background-color: hsl(207, 26%, 17%);
  height: 100%;
  width: 100vw;
}
.country-container{
  justify-content: center;
  align-items: center;
}
.filterpart{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.input-container{
  width: 20%;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.input-container-dark{
  width: 20%;
  background-color: hsl(209, 23%, 22%);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.input-field-style{
  width: 100%;
  padding: 9px;
  border-radius: 6px;
  outline: none;
  border: none;
}
.input-field-style-dark{
  width: 100%;
  padding: 9px;
  border-radius: 6px;
  background-color: hsl(209, 23%, 22%);
  color: #ffffff;
  outline: none;
  border: none;
}
.drop-down-style{
  width: 20%;
  padding: 12px;
  border-radius: 6px;
  background-color: #ffffff;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.drop-down-style-dark{
  width: 20%;
  padding: 12px;
  border-radius: 6px;
  color: #ffffff;
  background-color: hsl(209, 23%, 22%);
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.country-name{
  height: 213px;
  width: 320px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.country-info{
  background-color: #ffffff;
  padding: 18px;
}
.country-info-dark{
  background-color: hsl(207, 26%, 17%);
  padding: 18px;
  color: #ffffff ;
}
.each-country{
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.each-country-detail-page {
   display: flex;
   justify-content: center;
   align-items: center;
}
.country-detail-page-info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 22vh;
  width: 34vw;
}
.country-detail-page-button{
  padding:12px;
  background-color: #ffffff;
  border-radius: 6px;
  width: 12%;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.country-detail-page-button-dark{
  padding:12px;
  background-color: hsl(209, 23%, 22%);
  color: #ffffff;
  border-radius: 6px;
  width: 12%;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.border-countries-style{
  padding-top: 8px ;
  padding-bottom: 8px ;
  border-radius: 6px;
  padding-left: 12px ;
  padding-right:12px ;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.header-button{
  border: none;
  outline: none !important;
  background-color: #ffffff;
}
.country-detail-page-container{
  background-color: #ffffff;
  height:90vh;
}
.country-detail-page-container-dark{
  background-color: hsl(207, 26%, 17%);
  height:90vh;
}
.country-detail-page-country-name{
  font-weight: bold;
}
.country-detail-page-sub-titile{
  font-weight: 600;
  color: hsl(200, 15%, 8%);
}
.country-detail-page-sub-titile-dark{
  font-weight: 600;
  color: #ffffff;
}
.countrydetail-page-image{
  height: 50%;
}